<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <%# 自分が管理者であり、かつcurrent_userではない場合処理進む %>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>